[submodule "lib/compose_python"]
	path = lib/compose_python
	url = https://github.com/afdaniele/compose-python
[submodule "assets/dt-docker-stacks"]
	path = assets/dt-docker-stacks
	url = https://github.com/duckietown/dt-docker-stacks
	branch = daffy
