[Unit]
Description=This script setups the robot on boot
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash dt-init

[Install]
WantedBy=multi-user.target